/* Importing the google fonts used in the website - Comfortaa & Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Roboto+Mono:wght@300;400;500;600;700&family=Signika+Negative&family=Source+Sans+3:wght@200;300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Comfortaa:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Signika+Negative&family=Source+Sans+3:wght@200;300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 80px 1fr;

}

@media(max-width:640px){
  .dashboard-layout {
    display: grid;
    grid-template-columns: 50px 1fr;
  
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.active {
  color: #4764FC
}



/* Overriding styles of MUI */

th {
  background-color: #FBFBFB !important;

}

th {
  border-top: 1px solid #D3D3D3;
}

th:first-child {
  border-left: 1px solid #D3D3D3;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

th:last-child {
  border-right: 1px solid #D3D3D3;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}



[class$="MuiFormControl-root"]{
  margin: 0px !important;
}

[class$="MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input"]{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}




